body {
    font-family: Arial;
    margin: 0;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 5px;
    text-decoration: none;
}

section {
    display: none;
    padding: 20px;
}

section.active {
    display: block;
}